/* eXtra Large devices (large laptops and desktops, 1200px and up) */

@media (min-width: 1199.99px) {

    /* CARROSSEL INÍCIO */
    #imageContainer {
        height: 378px;
    }

    #carousel {
        height: 378px;
    }

    #carousel ul {
        height: 378px;
    }
    #carousel ul li {
        height: 378px;
    }
    #carousel ul li img{
        width: 100%;
        height:100%;
    }
    /* CARROSSEL FIM */

    /* INÍCIO CDs */
	#cds {
        grid-template-columns: repeat(4, 1fr);
    }
    
    article h2 {
        font-size: 1.5rem;
    }
    
    article h3 {
        font-size: 0.8rem;
    }

    article p {
        font-size: 0.75rem;
        line-height: 20px;
    }
    /* CDs FIM */

}