/*  MeDium devices (landscape tablets, 768px and up) */

@media (min-width:599.99px) and (max-width: 991.98px) {

     /* CARROSSEL INÍCIO */
	#imageContainer {
		max-width: 100%;
	}

    #carousel {
        height: 300px;
    }

    #carousel ul {
        height: 300px;
    }

    #carousel ul li {
        height: 300px;
    }

    #carousel ul li img {
        width: 100%;
        height: 100%;
    }
    /* CARROSSEL FIM */


    /* CDs INICIO */
    #cds {
        grid-template-columns: repeat(3, 1fr);
    }

    article h2 {
        font-size: 0.91em;
    }

    article h3 {
        font-size: 0.8rem;
    }

    article p {
        font-size: 0.78rem;
        line-height: 20px;
    }
    /* CDs FIM */

    /* CONTEÚDO DA PÁGINA DOS CDs INÍCIO */

    .imgCD{
        margin:10px 40px 13px 0;
    }
    /* CONTEÚDO DA PÁGINA DOS CDs FIM*/

    /* FOOTER INÍCIO */
    .content-footer {
        grid-template-columns: repeat(2, 1fr);
    }

    footer p, footer ul {
        font-size: 0.9rem;
    }

    footer a {
        font-size: 0.9rem;
    }
    /* FOOTER FIM */
}
