/* Formatação geral */

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #9e9e9e
}

body {
    background-color: #e9e9e9e9;
}

#wrapper {
    min-width: 100%;
    min-height: 100%;
}

header {
    width: 100%;
    height: 92px;
    background-color: #414141;
}

.header {
    width: 50%;
    height: 60px;
    float: left;
    font-size: 11px;
    margin: 0;
}

.header_esq {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.logo {
    padding: 0px 8px;
    margin: 0;
    border-left: 3px solid #c72803
}

.header_dir {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.header_esq a {
    margin: 0;
    text-decoration: none;
}

.header_esq span {
    margin: 14px 0px 0px 0px
}

.titulo {
    font-size: 30px;
    color: #fff;
}

.header_dir span {
    margin: 0 10px 0 0
}

.header_dir span a {
    color: #fff;
    text-decoration: none;
}

.header_dir span a:hover {
    text-decoration: underline;
}

.content {
    width: 93%;
}

#menuPrincipal {
    background-color: #c72803;
    height: 32px;
    clear: both;
}

.contentMenu {
    width: 100%;
}

.hamburger-menu {
    display: none;
}

#menuPrincipal input {
    display: none;
}

/* rotação dos elementos do span */
#menuPrincipal input:checked~label .hamburguer {
    transform: rotate(45deg);
}

#menuPrincipal input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

#menuPrincipal input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

#menuPrincipal input:checked~.menu-hamburguer-elements {
    left: 0;
}

#menuPrincipal ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0px 0 0 0;
}

#menuPrincipal ul li a {
    height: 32px;
    padding: 0px 10px 0 10px;
    font-size: 12px !important;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#menuPrincipalItens>li:hover>a,
#menuPrincipalItens>li>a.selected {
    background: #414141;
}

#menuPrincipalItens>li {
    float: left;
    margin: 0 0 0 10px;
}

/* CARROSSEL INÍCIO */
#imageContainer {
    width: 100%;
    margin: 0px 0px 30px 0px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
}

#carousel {
    overflow: hidden;
    width: 100vw;
    margin: 0;
}

#carousel ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

#carousel ul li {
    text-align: center;
    list-style: none;
    float: left;
    width: 100vw;
    padding: 0;
}

.controls {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 93%;
}

.controls button {
    cursor: pointer;
    padding: 6px 15px 9px 15px;
    color: #000;
    opacity: 0.6;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 24px;
    transition: 0.6s ease;
    box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.35);
}

#prev, #next {
    position: relative;
    right: 0px;
    left: 0px;
}

#prev:hover, #next:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.indicators {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.indicator-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.indicator.active {
    background-color: white;
}
/* CARROSSEL FIM */

/* CDs INÍCIO */
main {
    background-color: #fff;
}
#cds {
    display: grid;
    gap: 25px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.cd {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

article {
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

article:hover {
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.35);
}

article img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 8;
    overflow: hidden;
}

article:hover img {
    transform: scale(1.1);
}

.article-body {
    background-color: #fff;
    position: relative;
    padding: 24px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
}

article h2 {
    margin: 0 0 5px 0;
    color: #000;
    transition: color 0.3s ease-out;
}

article h3 {
    margin-bottom: 1.1rem;
    color: #a9a9a9;
    font-weight: normal;
    transition: color 0.3s ease-out;
}

article a{
    color:#000;
    text-decoration: none;
    display: block;
}

article:hover h2, article:hover p, article:hover span {
    color: #28666e;
}

article p {
    margin: 18px 0 18px 0;
    color: #000;
}

article a{
    text-decoration: none;
}

article .read-more{
    color:#c72803;
    font-weight: 600;
    font-size: 15px;
}

section{
    padding-bottom: 80px;
}
/* CDs FIM */

/* CONTEÚDO DA PÁGINA DOS CDs INÍCIO */

.breadcrumb{
    padding-top: 20px;
    margin:0px 0px 20px 0px;
    font-size: 13px;
}

.breadcrumb span{
    font-weight: bold;
    color: #c72803;
}

.breadcrumb a{
    text-decoration: underline;
    font-weight: normal;
}

.breadcrumb a:hover{
    color: #c72803;
}

.secaoCD{
    padding: 20px 0px 80px 0px;
}

.infoCD{
    width: 100%;    
}

.infoCD h1 {
    font-size: 30px;
    color: #E4AA0B;/* c72803*/
    margin-bottom: 20px;
    text-align: left;
}

.infoCD p{
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 10px;
    color:#414141;
}

.infoCD strong{
    color:#c72803
}

.imgCD{
    width: 350px;
    margin-right: 20px;
    float: left;
}
.imgCD img{
    width: 100%;
    border-radius: 5px;
}

/* CONTEÚDO DA PÁGINA DOS CDs FIM*/

/* FOOTER INÍCIO */
footer {
    width: 100%;
    background-color: #414141;
    padding: 15px 0;
    -webkit-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.35);
    padding-bottom: 50px;
}

footer h1 {
    font-size: 20px;
    color: #E4AA0B;
    padding-bottom: 10px;
    border-bottom: 4px solid #E4AA0B;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 14px;
}

footer p, footer ul {
    font-size: 0.75rem;
    line-height: 20px;
    padding-left: 14px;
}

footer ul li {
    list-style: none;
}

footer a {
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 25px;
    transition: color 0.3s ease-out;
}

footer i {
    padding-right: 10px;
}

.content-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
}

.address, .redes-sociais {
    width: 100%;
}

.redes-sociais {
    text-align: center;
}
/* FOOTER FIM */